<h1>reset your password</h1>

<%= form_with model: @user, url: user_account_password_reset_path(token: params[:token]) do |form| %>
	<% if form.object.errors.any? %>
		<% form.object.errors.full_messages.each do |message| %>
			<div style="color: red"><%= message %></div>
		<% end %>
	<% end %>

	<div>
		<%= form.label :password, "New Password" %>
		<%= form.password_field :password %>
	</div>

	<div>
		<%= form.label :password_confirmation %>
		<%= form.password_field :password_confirmation %>
	</div>

	<div>
		<%= form.submit "Reset your password" %>
	</div>
<% end %>